name: Build and test rpm package for linupdate

on:
  push:
    branches: [ devel ]
  pull_request:
    push:
      branches: [ main ]

jobs:
  build-rpm:
    name: Build rpm package
    runs-on: ubuntu-latest
    container:
      image: centos:8
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get linupdate version
        run: echo "VERSION=$(cat ${GITHUB_WORKSPACE}/version)" >> $GITHUB_ENV

      - name: Install CentOS8 archive repositories
        run: |
          rm /etc/yum.repos.d/* -f

          echo "[os]
          name=os repo
          baseurl=https://vault.centos.org/8-stream/BaseOS/x86_64/os/
          enabled=1
          gpgkey=https://www.centos.org/keys/RPM-GPG-KEY-CentOS-Official-SHA256
          gpgcheck=1" > /etc/yum.repos.d/os.repo

          echo "[appstream]
          name=updates repo
          baseurl=https://vault.centos.org/8-stream/AppStream/x86_64/os/
          enabled=1
          gpgkey=https://www.centos.org/keys/RPM-GPG-KEY-CentOS-Official-SHA256
          gpgcheck=1" > /etc/yum.repos.d/appstream.repo

          echo "[extras]
          name=extras repo
          baseurl=https://vault.centos.org/8-stream/extras/x86_64/extras-common/
          enabled=1
          gpgkey=https://www.centos.org/keys/RPM-GPG-KEY-CentOS-Official-SHA256
          gpgcheck=1" > /etc/yum.repos.d/extras.repo

          dnf clean all

      - name: Install dependencies packages
        run: dnf install rpmdevtools rpmlint -y

      - name: Create build environment
        run: |
          mkdir -p $HOME/rpmbuild/BUILD
          mkdir -p $HOME/rpmbuild/BUILDROOT
          mkdir -p $HOME/rpmbuild/RPMS
          mkdir -p $HOME/rpmbuild/SOURCES
          mkdir -p $HOME/rpmbuild/SPECS
          mkdir -p /etc/linupdate/modules
          mkdir -p /opt/linupdate
          mkdir -p /opt/linupdate/src/
          mkdir -p /opt/linupdate/templates/
          mkdir -p /lib/systemd/system/

      - name: Copy files to include in the build
        run: |
          cp -r ${GITHUB_WORKSPACE}/src/* /opt/linupdate/src/
          cp -r ${GITHUB_WORKSPACE}/templates/* /opt/linupdate/templates/
          cp ${GITHUB_WORKSPACE}/linupdate.py /opt/linupdate/linupdate.py
          cp ${GITHUB_WORKSPACE}/service.py /opt/linupdate/service.py
          cp ${GITHUB_WORKSPACE}/version /opt/linupdate/version
          cp ${GITHUB_WORKSPACE}/templates/linupdate.systemd.template /lib/systemd/system/linupdate.service

      - name: Copy spec file
        run: |
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/rpm/spec $HOME/rpmbuild/SPECS/linupdate.spec
          sed -i "s/__VERSION__/${{ env.VERSION }}/g" $HOME/rpmbuild/SPECS/linupdate.spec

      - name: Build package
        run: |
          cd $HOME/rpmbuild/SPECS
          rpmbuild --target noarch -bb linupdate.spec
          mv $HOME/rpmbuild/RPMS/noarch/linupdate-${{ env.VERSION }}-stable.noarch.rpm /tmp/linupdate-test-build-${{ env.VERSION }}.noarch.rpm

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: linupdate-test-build-${{ env.VERSION }}.noarch.rpm
          path: /tmp/linupdate-test-build-${{ env.VERSION }}.noarch.rpm
          retention-days: 1

  # (EOL)
  # test-centos8:
  #   name: Install and test CentOS 8
  #   needs: build-rpm
  #   uses: ./.github/workflows/install-and-test-on-centos8.yml
  #   secrets: inherit

 # Rocky Linux
  test-rockylinux9:
    name: Install and test Rocky Linux 9
    needs: build-rpm
    uses: ./.github/workflows/install-and-test-on-rockylinux9.yml
    secrets: inherit

  # No docker image available yet
  # test-rockylinux10:

  # Alma Linux
  test-almalinux9:
    name: Install and test Alma Linux 9
    needs: build-rpm
    uses: ./.github/workflows/install-and-test-on-almalinux9.yml
    secrets: inherit

  test-almalinux10:
    name: Install and test on Alma Linux 10
    needs: build-rpm
    uses: ./.github/workflows/install-and-test-on-almalinux10.yml
    secrets: inherit
