on:
  push:
    branches: [ main ]

name: Create linupdate release

jobs:
  build-deb:
    name: Build deb package
    runs-on: ubuntu-latest
    container:
      image: debian:latest
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get linupdate version
        run: echo "VERSION=$(cat ${GITHUB_WORKSPACE}/version)" >> $GITHUB_ENV

      - name: Install dependencies packages
        run: apt-get update && apt-get install build-essential binutils lintian debhelper dh-make devscripts -y 

      - name: Create build environment
        run: |
          mkdir -p /tmp/linupdate-build/DEBIAN
          mkdir -p /tmp/linupdate-build/etc/linupdate/modules
          mkdir -p /tmp/linupdate-build/opt/linupdate
          mkdir -p /tmp/linupdate-build/opt/linupdate/functions/
          mkdir -p /tmp/linupdate-build/opt/linupdate/mods-available/
          mkdir -p /tmp/linupdate-build/opt/linupdate/mods-enabled/
          mkdir -p /tmp/linupdate-build/opt/linupdate/agents-available/
          mkdir -p /tmp/linupdate-build/opt/linupdate/service/
          mkdir -p /tmp/linupdate-build/lib/systemd/system/

      - name: Copy files to include in the build
        run: |
          cp -r ${GITHUB_WORKSPACE}/functions/* /tmp/linupdate-build/opt/linupdate/functions/
          cp -r ${GITHUB_WORKSPACE}/mods-available/* /tmp/linupdate-build/opt/linupdate/mods-available/
          cp -r ${GITHUB_WORKSPACE}/service/* /tmp/linupdate-build/opt/linupdate/service/
          cp ${GITHUB_WORKSPACE}/linupdate /tmp/linupdate-build/opt/linupdate/linupdate
          cp ${GITHUB_WORKSPACE}/version /tmp/linupdate-build/opt/linupdate/version
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/linupdate.conf /tmp/linupdate-build/etc/linupdate/linupdate.conf
          cp -r ${GITHUB_WORKSPACE}/service/linupdate.systemd.template /tmp/linupdate-build/lib/systemd/system/linupdate.service

      - name: Copy control file
        run: |
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/deb/control /tmp/linupdate-build/DEBIAN/control
          sed -i "s/__VERSION__/${{ env.VERSION }}/g" /tmp/linupdate-build/DEBIAN/control

      - name: Copy preinst and postinst script
        run: |
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/deb/preinst /tmp/linupdate-build/DEBIAN/preinst
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/deb/postinst /tmp/linupdate-build/DEBIAN/postinst
          chmod 755 /tmp/linupdate-build/DEBIAN/preinst /tmp/linupdate-build/DEBIAN/postinst

      - name: Build package
        run: |
          cd /tmp
          dpkg-deb --build linupdate-build
          mv /tmp/linupdate-build.deb /tmp/linupdate_${{ env.VERSION }}.deb

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: linupdate_${{ env.VERSION }}.deb
          path: /tmp/linupdate_${{ env.VERSION }}.deb
          retention-days: 3

  build-rpm:
    name: Build rpm package
    runs-on: ubuntu-latest
    container:
      image: centos:7
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get linupdate version
        run: echo "VERSION=$(cat ${GITHUB_WORKSPACE}/version)" >> $GITHUB_ENV

      - name: Install dependencies packages
        run: yum install rpmdevtools rpmlint -y

      - name: Create build environment
        run: |
          mkdir -p $HOME/rpmbuild/BUILD
          mkdir -p $HOME/rpmbuild/BUILDROOT
          mkdir -p $HOME/rpmbuild/RPMS
          mkdir -p $HOME/rpmbuild/SOURCES
          mkdir -p $HOME/rpmbuild/SPECS
          mkdir -p /etc/linupdate/modules
          mkdir -p /opt/linupdate
          mkdir -p /opt/linupdate/functions/
          mkdir -p /opt/linupdate/mods-available/
          mkdir -p /opt/linupdate/mods-enabled/
          mkdir -p /opt/linupdate/agents-available/
          mkdir -p /opt/linupdate/agents-enabled/
          mkdir -p /opt/linupdate/service/
          mkdir -p /lib/systemd/system/

      - name: Copy files to include in the build
        run: |
          cp -r ${GITHUB_WORKSPACE}/functions/* /opt/linupdate/functions/
          cp -r ${GITHUB_WORKSPACE}/mods-available/* /opt/linupdate/mods-available/
          cp -r ${GITHUB_WORKSPACE}/service/* /opt/linupdate/service/
          cp ${GITHUB_WORKSPACE}/linupdate /opt/linupdate/linupdate
          cp ${GITHUB_WORKSPACE}/version /opt/linupdate/version
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/linupdate.conf /etc/linupdate/linupdate.conf
          cp -r ${GITHUB_WORKSPACE}/service/linupdate.systemd.template /lib/systemd/system/linupdate.service

      - name: Copy spec file
        run: |
          cp ${GITHUB_WORKSPACE}/.github/workflows/packaging/rpm/spec $HOME/rpmbuild/SPECS/linupdate.spec
          sed -i "s/__VERSION__/${{ env.VERSION }}/g" $HOME/rpmbuild/SPECS/linupdate.spec

      - name: Build package
        run: |
          cd $HOME/rpmbuild/SPECS
          rpmbuild --target noarch -bb --quiet linupdate.spec
          mv $HOME/rpmbuild/RPMS/noarch/linupdate-${{ env.VERSION }}-stable.noarch.rpm /tmp/linupdate-${{ env.VERSION }}.noarch.rpm

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: linupdate-${{ env.VERSION }}.noarch.rpm
          path: /tmp/linupdate-${{ env.VERSION }}.noarch.rpm
          retention-days: 3

  release:
    name: Create Release
    needs:
      - build-deb
      - build-rpm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get linupdate version
        run: echo "VERSION=$(cat ${GITHUB_WORKSPACE}/version)" >> $GITHUB_ENV

      # Download builded deb package artifact
      - name: Download deb artifact
        uses: actions/download-artifact@v3
        with:
          name: linupdate_${{ env.VERSION }}.deb
          path: ~/assets
      
      # Download builded rpm package artifact
      - name: Download rpm artifact
        uses: actions/download-artifact@v3
        with:
          name: linupdate-${{ env.VERSION }}.noarch.rpm
          path: ~/assets

      # Create a new release
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          release_name: ${{ env.VERSION }}
          body: |
            **Fixes**:

            - (reposerver module) Fixed reposerver IP retrieving
          draft: false
          prerelease: false

      # Upload packages to release
      - name: Upload packages
        id: upload-release-assets
        uses: dwenegar/upload-release-assets@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.create_release.outputs.id }}
          assets_path: ~/assets